<br>
<div class="todo">
  <div class=" container">
    <div class="row borde">


      <div class="col-md-10 offset-md-1 ">
        <div class="portlet">
          <div class="  widget-comments">
            <div class="autofit-row autofit-float widget-comments-header">
              <div class="col-md-12">
                <p class="opiniones">Restaurante: Norkys</p>
              </div>
            </div>

            <div class="autofit-row primero autofit-float widget-comments-toolbar">
              <div class="col-md-12">
                <p class="comentarios">Califica tu experiencia</p>
              </div>
            </div>

            <div class="container formulario">
              <div class="row">

                <div class="col-xs-12 col-md-6">
                  <mat-form-field class="texto" appearance="outline">
                    <mat-label>Calidad de servicio</mat-label>
                    <mat-select name="calidad" [(ngModel)]="comentario.calidad" [formControl]="tipoControl" required>
                      <mat-option *ngFor="let tipo of tipos" [value]="tipo.valor">
                        {{tipo.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tipoControl.hasError('required')">No ha seleccionado ninguna opción</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xs-12 col-md-6">
                  <mat-form-field class="texto" appearance="outline">
                    <mat-label>Ambiente del establecimiento</mat-label>
                    <mat-select name="ambiente" [(ngModel)]="comentario.ambiente" [formControl]="tipoControl" required>
                      <mat-option *ngFor="let tipo of tipos" [value]="tipo.valor">
                        {{tipo.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tipoControl.hasError('required')">No ha seleccionado ninguna opción</mat-error>
                  </mat-form-field>
                </div>


                <div class="col-xs-12 col-md-6">
                  <mat-form-field class="texto" appearance="outline">
                    <mat-label>Comida</mat-label>
                    <mat-select name="comida" [(ngModel)]="comentario.comida" [formControl]="tipoControl" required>
                      <mat-option *ngFor="let tipo of tipos" [value]="tipo.valor">
                        {{tipo.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tipoControl.hasError('required')">No ha seleccionado ninguna opción</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xs-12 col-md-6">
                  <mat-form-field class="texto" appearance="outline">
                    <mat-label>Relación calidad/precio</mat-label>
                    <mat-select name="relacion" [(ngModel)]="comentario.relacion" [formControl]="tipoControl" required>
                      <mat-option *ngFor="let tipo of tipos" [value]="tipo.valor">
                        {{tipo.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tipoControl.hasError('required')">No ha seleccionado ninguna opción</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-12">
                  <p class="comentarios">Describe tu experiencia</p>
                </div>

                <div class="col-xs-12">
                  <mat-form-field appearance="outline" class="texto">
                    <mat-label>Titulo</mat-label>
                    <input matInput  #titulo="ngModel" name="titulo" [(ngModel)]="comentario.titulo"
                     class="form-control" #titulo maxlength="100" autocomplete="off" required>
                    <mat-hint align="end">{{titulo.value.length}} /100</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-xs-12 tip_ev">
                  <!-- <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="restaurant.descripcion" rows="4" class="form-control" placeholder="descripción del restaurant"></textarea> -->
                  <mat-form-field class="texto" appearance="outline">
                    <mat-label>Dejanos tu comentario</mat-label>
                    <textarea matInput #descripcion="ngModel" name="descripcion" [(ngModel)]="comentario.descripcion"
                    rows="4" #cantidad maxlength="100" autocomplete="off" required></textarea>
                    <mat-hint align="end">{{cantidad.value.length}} /200</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-12">
                  <p class="comentarios">Puedes añadir fotos a tu comentario (opcional)</p>
                </div>

                <div class='row '>
                  <img *ngIf="imagenTemp" [src]="imagenTemp" class="imgTemporal col-sm-6 offset-sm-3">

                  <div class='group' *ngIf="!imagenTemp">
                    <div id='groupcrop'>
                      <div class='VPcrop'>
                        <i class="fa camara fa-camera"></i>
                        <i class="fa fa-plus mas"></i>
                        <input class='VPcropint' id='VPcropint' name='input' type='file' accept="image/x-png, image/gif, image/jpeg" (change)="fileChangeEvent($event , $event.target.files[0])"
                        />
                      </div>
                    </div>
                  </div>

                  <div class='group col-sm-3' *ngIf="imagenTemp">
                    <div id='groupcrop'>
                      <div class='edit'>
                        <i class="fa camara fa-edit"></i>
                        <input class='VPcropint' id='VPcropint' name='input' type='file' accept="image/x-png, image/gif, image/jpeg" (change)="fileChangeEvent($event , $event.target.files[0])"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="botones">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="saveComentario()">Registrar opinión</button>
      </mat-card-actions>
    </div>
  </div>
</div>
