<br>
<br>
<div class="container-fluid">
  <div class="row">
    
<div class="col-md-4">
<mat-card class="example-card">
  <img mat-card-image class="img_carrusel " src="assets/img/rustica.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <mat-card-content>
          <p> <span class="numeros"> 8.5</span><span>
             <span class="tipo">Excelente</span>   
           <p>Opiniones: 40</p>
            </span></p>
          
        </mat-card-content>
      </div>
      <div class="col-md-4">
        <div class="botones">
          <mat-card-actions>
            <button mat-raised-button color="primary">VER</button>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </div>
</mat-card>
</div>
<div class="col-md-4">
    <mat-card class="example-card">
      <img mat-card-image class="img_carrusel " [routerLink]="['/restaurant']" src="assets/img/norkys.jpg" >
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <mat-card-content>
              <p> <span class="numeros"> 8.5</span><span>
                 <span class="tipo">Excelente</span>   
               <p>Opiniones: 40</p>
                </span></p>
              
            </mat-card-content>
          </div>
          <div class="col-md-4">
            <div class="botones">
              <mat-card-actions>
                <button mat-raised-button color="primary" [routerLink]="['/restaurant']">VER</button>
              </mat-card-actions>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="example-card">
          <img mat-card-image class="img_carrusel " src="assets/img/bisteca.jpg">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <mat-card-content>
                  <p> <span class="numeros"> 8.5</span><span>
                     <span class="tipo">Excelente</span>   
                   <p>Opiniones: 40</p>
                    </span></p>
                  
                </mat-card-content>
              </div>
              <div class="col-md-4">
                <div class="botones">
                  <mat-card-actions>
                    <button mat-raised-button color="primary">VER</button>
                  </mat-card-actions>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
        </div>
        
</div>
</div>