<!-- Footer -->

<div id="footer-container">
  <div class="container">
    <div class="row text-xs-center text-sm-left">
      <div class="col-md-4">
        <form id="suscribeForm" action="#" method="POST">
          <h4 class="text-uppercase">¿Quiés recibir todas las novedades?</h4>
          <div class="form-group">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="tu@correo.com" name="email">
            <small id="emailHelp" class="form-text text-muted">No compartiremos tu información con nadie más</small>
          </div>
          <div class="boton">
            <button type="submit" class="btn btn-primary  form-text">Suscribirme</button>
          </div>
        </form>
      </div>
      <div class="col-md-3 offset-md-5">
        <h4 class="navigation">Navegación</h4>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Foro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Perfil</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>


<!-- /Footer -->