
#footer-container {
    background-color: rgb(0,0,0,0.9);
    color: white;
    padding: 2em 0;

  }

  #footer-container h4 {
    font-size: 16px;
  }

  .boton{
    text-align: center;
  }
