 
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 imagen">
      <img src="assets/img/perfil.jpg" class="img_perfil">
      <p>JUAN MANUEL</p>
      <hr>
    </div>
    <div class="col-md-7 inputs">
      <p class="datos">DATOS PERSONALES</p>
      <div class="col-xl-12 uno">
        <p>Nombre: Juan Manuel</p>
        <p>Apellios: Chavez Herrera</p>
      </div>
      <div class="col-xl-12 uno">
        <p>Ciudad</p>
        <p>Dirección:</p>
      </div>
      <div class="col-xl-12 uno">
        <p>Email</p>
        <p>Celular</p>
      </div>
      <button class="update btn btn-info">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        EDITAR</button>
    </div>
 

  </div>
</div> 