 
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 imagen">
      <img src="assets/img/perfil.jpg" class="img_perfil">
      <p>JUAN MANUEL</p>
      <i class="fa redes r_twiter fa-twitter" aria-hidden="true"></i>
      <i class="fa redes r_facebook fa-facebook-official" aria-hidden="true"></i> 
      <hr>
    </div>
    <div class="col-md-7 inputs">
      <p class="datos">DATOS PERSONALES</p>
      <div class="col-xl-12 uno">
        <p>Nombre: Juan Manuel</p>
        <p>Apellidos: Chavez Herrera</p>
      </div>
      <div class="col-xl-12 uno">
        <p>Ciudad: Lima</p>
        <p>Dirección: Norberto Haro 2671</p>
      </div>
      <div class="col-xl-12 uno">
        <p>Email: juan.manuel@gmail.com</p>
        <p>Celular: 956793650</p>
      </div>
      <button class="update btn btn-info">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        EDITAR</button>
    </div>
 

  </div>
</div> 