
<div class="comments-container">

  <ul id="comments-list" class="comments-list">
    <li>
      <div class="comment-main-level">
      
        <div class="comment-avatar"><img src="assets/img/f3.jpg" alt=""></div>
        <div class="comment-box">
          <div class="comment-head">
            <p class="comment-name by-author"><a>Enrique Mendoza Lopez</a></p>
            <span>hace 20 minutos</span>
            <i class="fa fa-reply"></i>
            <i class="fa fa-heart"></i>
          </div>
          <div class="comment-content">
          La comida estuvo muy rica pero los precios algo caros
          </div>
        </div>
      </div>
      <!-- Respuestas de los comentarios -->
      <ul class="comments-list reply-list">
        <li>
          <div class="comment-avatar"><img src="assets/img/f1.jpg" alt=""></div>
          <div class="comment-box">
            <div class="comment-head">
              <p class="comment-name"><a>Andrea Sifuentes Sotomayor</a></p>
              <span>hace 10 minutos</span>
              <i class="fa fa-reply"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              ¿Qué tal estuvo la atención?
            </div>
          </div>
        </li>

        <li>
          <div class="comment-avatar"><img src="assets/img/f3.jpg" alt=""></div>
          <div class="comment-box">
            <div class="comment-head">
              <p class="comment-name by-author"><a>Enrique Mendoza Lopez</a></p>
              <span>hace 10 minutos</span>
              <i class="fa fa-reply"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              La atención en general estuvo muy bien, los trabajadores fueron muy atentos
            </div>
          </div>
        </li>
      </ul>
    </li>

    <li>
      <div class="comment-main-level">
        <div class="comment-avatar"><img src="assets/img/f2.jpg" alt=""></div>
        <div class="comment-box">
          <div class="comment-head">
            <p class="comment-name"><a>Diana Salazar Villanueva</a></p>
            <span>hace 10 minutos</span>
            <i class="fa fa-reply"></i>
            <i class="fa fa-heart"></i>
          </div>
          <div class="comment-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
