<br>
<div class="todo">
  <div class=" container">
    <div class="row borde">


      <div class="col-md-10 offset-md-1 ">
        <div class="portlet">
          <div class="  widget-comments">
            <div class="autofit-row autofit-float widget-comments-header">

              <div class="col-md-12">
                <p class="opiniones">Opiniones de nuestros usuarios:</p>
              </div>
              <div class="autofit-col autofit-col-end">
                <a class="btn btn-secondary btn-sm"
                    <i class="fa fa-star "></i>

                  Dejar valoración</a>
              </div>
            </div>

            <div class="autofit-row widget-comments-body">
              <div class="autofit-col inline-item-before">
                <span class="sticker sticker-lg sticker-success user-icon usuario">LC</span>
              </div>
              <div class="autofit-col autofit-col-expand">
                <div class="form-group">
                  <textarea class="form-control area"></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-sm" type="button">Publicar comentario</button>
                </div>
              </div>
            </div>

            <div class="autofit-row autofit-float widget-comments-toolbar">
              <div class="col-md-12">
                <p class="comentarios">Comentarios: 3</p>
              </div>

            </div>

            <div class="widget-comments-list">
              <!-- Item coment 01 -->
              <div class="widget-comments-item">
                <div class="autofit-row">
                  <div class="autofit-col inline-item-before">
                    <span class="sticker sticker-lg sticker-warning user-icon">DA</span>
                  </div>
                  <div class="autofit-col autofit-col-expand">
                    <div class="autofit-row">
                      <div class="autofit-col autofit-col-expand widget-metadata">
                        <a href="#" class="username">Karla Rossi</a>
                        <div>3 Hours Ago</div>
                      </div>
                      <div class="autofit-col">
                        <div class="dropdown dropdown-action" class="btn btn-default btn-sm "
                        data-toggle="dropdown">
                          <svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v" viewBox="0 0 512 512">
                            <path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
                            <path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
                            <path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
                          </svg>
                        </div>

                                <ul class="dropdown-menu">
                                  <li class="subnav">
                                    <i class="fa fa-edit "></i>
                                    <span>Editar comentario</span>
                                  </li>
                                  <li class="subnav">
                                      <i class="fa fa-ban "></i>
                                      <span>eliminar comentario</span>
                                    </li>
                                </ul>
                      </div>
                    </div>

                    <p>Percolator beans french press extraction seasonal grinder plunger pot caramelization. Single origin,
                      dark grinder cultivar aftertaste iced skinny cappuccino irish barista aftertaste fair trade.Sweet,
                      carajillo decaffeinated, french press crema froth and organic a fair trade. In est cream brewed bar
                      roast filter americano turkish.</p>
                    <div class="autofit-row autofit-row-center autofit-float">
                      <div class="autofit-col">
                        <button class="btn responder btn-outline-secondary btn-outline-borderless btn-sm" type="button">
                          Responder
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Item coment 01 -->
                <div class="widget-comments-item">
                  <div class="autofit-row">
                    <div class="autofit-col inline-item-before">
                      <span class="sticker sticker-lg sticker-warning user-icon">DA</span>
                    </div>
                    <div class="autofit-col autofit-col-expand">
                      <div class="autofit-row">
                        <div class="autofit-col autofit-col-expand widget-metadata">
                          <a href="#" class="username">David Aragones Otero</a>
                          <div>3 Hours Ago</div>
                        </div>
                        <div class="autofit-col">
                          <div class="dropdown dropdown-action">
                            <svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v" viewBox="0 0 512 512">
                              <path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
                              <path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
                              <path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
                            </svg>
                          </div>
                        </div>
                      </div>

                      <p>Percolator beans french press extraction seasonal grinder plunger pot caramelization. Single origin,
                        dark grinder cultivar aftertaste iced skinny cappuccino irish barista aftertaste fair trade.Sweet,
                        carajillo decaffeinated, french press crema froth and organic a fair trade. In est cream brewed bar
                        roast filter americano turkish.</p>
                      <!-- <div class="autofit-row autofit-row-center autofit-float">
                         <div class="autofit-col">
                          <button class="btn btn-outline-secondary btn-outline-borderless btn-sm" type="button">
                             Responder
                          </button>
                         </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item coment 02 -->
              <div class="widget-comments-item">
                <div class="autofit-row">
                  <div class="autofit-col inline-item-before">
                    <span class="sticker sticker-lg sticker-warning user-icon">DA</span>
                  </div>
                  <div class="autofit-col autofit-col-expand">
                    <div class="autofit-row">
                      <div class="autofit-col autofit-col-expand widget-metadata">
                        <a href="#" class="username">David Aragones Otero</a>
                        <div>3 Hours Ago</div>
                      </div>
                      <div class="autofit-col">
                        <div class="dropdown dropdown-action">
                          <svg aria-hidden="true" class="lexicon-icon lexicon-icon-ellipsis-v" viewBox="0 0 512 512">
                            <path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
                            <path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
                            <path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
                          </svg>
                        </div>
                      </div>
                    </div>

                    <p>Percolator beans french press extraction seasonal grinder plunger pot caramelization. Single origin,
                      dark grinder cultivar aftertaste iced skinny cappuccino irish barista aftertaste fair trade.Sweet,
                      carajillo decaffeinated, french press crema froth and organic a fair trade. In est cream brewed bar
                      roast filter americano turkish.</p>
                    <div class="autofit-row autofit-row-center autofit-float">
                      <div class="autofit-col">
                        <button class="btn btn-outline-secondary btn-outline-borderless btn-sm" type="button">
                          Responder
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--
<div class="comments-container">

  <ul id="comments-list" class="comments-list">
    <li class="borde">
      <div class="comment-main-level">

        <div class="comment-avatar"><img src="assets/img/f3.jpg" alt=""></div>
        <div class="comment-box">
          <div class="comment-head">
            <p class="comment-name by-author"><a>Enrique Mendoza Lopez</a></p>
            <span>hace 20 minutos</span>
            <i class="fa fa-Responder"></i>
            <i class="fa fa-heart"></i>
          </div>
          <div class="comment-content">
          La comida estuvo muy rica pero los precios algo caros
          </div>
        </div>
      </div>
      <ul class="comments-list Responder-list">
        <li>
          <div class="comment-avatar"><img src="assets/img/f1.jpg" alt=""></div>
          <div class="comment-box">
            <div class="comment-head">
              <p class="comment-name"><a>Andrea Sifuentes Sotomayor</a></p>
              <span>hace 10 minutos</span>
              <i class="fa fa-Responder"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              ¿Qué tal estuvo la atención?
            </div>
          </div>
        </li>

        <li>
          <div class="comment-avatar"><img src="assets/img/f3.jpg" alt=""></div>
          <div class="comment-box">
            <div class="comment-head">
              <p class="comment-name by-author"><a>Enrique Mendoza Lopez</a></p>
              <span>hace 10 minutos</span>
              <i class="fa fa-Responder"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              La atención en general estuvo muy bien, los trabajadores fueron muy atentos
            </div>
          </div>
        </li>
      </ul>
    </li>

    <li>
      <div class="comment-main-level">
        <div class="comment-avatar"><img src="assets/img/f2.jpg" alt=""></div>
        <div class="comment-box">
          <div class="comment-head">
            <p class="comment-name"><a>Diana Salazar Villanueva</a></p>
            <span>hace 10 minutos</span>
            <i class="fa fa-Responder"></i>
            <i class="fa fa-heart"></i>
          </div>
          <div class="comment-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
          </div>
        </div>
      </div>
    </li>
  </ul>



</div> -->
      </div>
    </div>
  </div>
</div>
