<p class="favoritos">

  MIS FAVORITOS</p>

<div id="carrusel">
  <a href="#" class="izquierda_flecha">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </a>
  <a href="#" class="derecha_flecha">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </a>
  <div class="carrusel">
    <div class="product" id="product_0">
      <img class="img_carrusel img-fluid"  src="assets/img/bisteca.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_1">
      <img class="img_carrusel img-fluid" [routerLink]="['/restaurant']" src="assets/img/norkys.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_2">
      <img class="img_carrusel img-fluid" src="assets/img/pardos.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_3">
      <img class="img_carrusel img-fluid" src="assets/img/lucha.jpg" width="195px" height="100px" />

    </div>
    <div class="product" id="product_0">
      <img class="img_carrusel img-fluid" src="assets/img/equipo.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_1">
      <img class="img_carrusel img-fluid" src="assets/img/cooperacion.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_4">
      <img class="img_carrusel img-fluid" src="assets/img/n2.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_5">
      <img class="img_carrusel img-fluid" src="assets/img/n3.jpg" width="195px" height="100px" />
    </div>
  </div>
</div>


<p class="favoritos">

   ULTIMOS VISITADOS</p>
  
  <div id="carrusel">
    <a href="#" class="izquierda_flecha">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    <a href="#" class="derecha_flecha">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
    <div class="carrusel">
      <div class="product" id="product_0">
        <img class="img_carrusel img-fluid" src="assets/img/bisteca.jpg" width="195px" height="100px" />
      </div>
      <div class="product" id="product_1">
        <img class="img_carrusel img-fluid" src="assets/img/norkys.jpg" width="195px" height="100px" />
      </div>
      <div class="product" id="product_2">
        <img class="img_carrusel img-fluid" src="assets/img/pardos.jpg" width="195px" height="100px" />
      </div>
      <div class="product" id="product_3">
        <img class="img_carrusel img-fluid" src="assets/img/lucha.jpg" width="195px" height="100px" />
  
      </div>
      <div class="product" id="product_0">
        <img class="img_carrusel img-fluid" src="assets/img/equipo.jpg" width="195px" height="100px" />
      </div>
      <div class="product" id="product_1">
        <img class="img_carrusel img-fluid" src="assets/img/cooperacion.jpg" width="195px" height="100px" />
      </div>
      <div class="product" id="product_4">
        <img class="img_carrusel img-fluid" src="assets/img/n2.jpg" width="195px" height="100px" />
      </div>
      <div class="product" id="product_5">
        <img class="img_carrusel img-fluid" src="assets/img/n3.jpg" width="195px" height="100px" />
      </div>  
    </div>
  </div>

 