
<app-card></app-card>
<p class="favoritos">MIS FAVORITOS</p>

<div id="carrusel" class="container-fluid">
  <a href="#" class="izquierda_flecha">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </a>
  <a href="#" class="derecha_flecha">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </a>
  <div class="carrusel">
    <div class="product" id="product_0">
      <img class="img_carrusel img-fluid"  src="assets/img/bisteca.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_1">
      <img class="img_carrusel img-fluid" [routerLink]="['/restaurant']" src="assets/img/norkys.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_2">
      <img class="img_carrusel img-fluid" src="assets/img/pardos.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_3">
      <img class="img_carrusel img-fluid" src="assets/img/lucha.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_0">
      <img class="img_carrusel img-fluid" src="assets/img/panka.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_1">
      <img class="img_carrusel img-fluid" src="assets/img/rustica.jpg" width="195px" height="100px" />
    </div>
    <div class="product" id="product_4">
      <img class="img_carrusel img-fluid" src="assets/img/choza.png" width="195px" height="100px" />
    </div>
    <div class="product" id="product_5">
      <img class="img_carrusel img-fluid" src="assets/img/n3.jpg" width="195px" height="100px" />
    </div>
  </div>
</div>


<p class="favoritos">

   ULTIMOS VISITADOS</p>
  
  
<div id="carrusel">
    <a href="#" class="izquierda_flech">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    <a href="#" class="derecha_flech">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
    <div class="carrusel_2">
      <div class="product" id="produc_0">
        <img class="img_carrusel img-fluid"  src="assets/img/choza.png" width="195px" height="100px" />
      </div>
      <div class="product" id="produc_1">
        <img class="img_carrusel img-fluid" [routerLink]="['/restaurant']" src="assets/img/rustica.jpg" width="195px" height="100px" />
      </div>
      <div class="product" id="produc_2">
        <img class="img_carrusel img-fluid" src="assets/img/panka.jpg" width="195px" height="100px" />
      </div>
      <div class="product" id="produc_3">
        <img class="img_carrusel img-fluid" src="assets/img/norkys.jpg" width="195px" height="100px" />
  
      </div>
      <div class="product" id="produc_0">
        <img class="img_carrusel img-fluid" src="assets/img/pardos.jpg" width="195px" height="100px" />
      </div>
      <div class="product" id="produc_1">
        <img class="img_carrusel img-fluid" src="assets/img/lucha.jpg" width="195px" height="100px" />
      </div>
      <div class="product" id="produc_4">
        <img class="img_carrusel img-fluid" src="assets/img/bisteca.jpg" width="195px" height="100px" />
      </div>
      <div class="product" id="produc_5">
        <img class="img_carrusel img-fluid" src="assets/img/n3.jpg" width="195px" height="100px" />
      </div>
    </div>
  </div>
  