
<div class="container">
  <div class="row">
    <div class="col-xl-1 logo">
        <img src="../../../../assets/img/norkys.png">
    </div>
    <div class="col-xl-8 texto">
    
      <p>Norkys - Habich</p>
      <p class="descripcion">Somos una polleria reconocida, estamos orientados a cumplir las expectativas de nuestros clientes en todo momento, con una alta variedad platos. Reconocido por su sabor, frescura y creatividad. Le damos el valor agregado a cada plato que servimos a mesa. Siendo nuestra propuesta gastronómica una fusión de comida marina, japonesa, oriental, no dejando a un lado las raíces de nuestra </p>
    </div>
    <div class="col-xl-3 imagen img-fluid">
        <i class="fa fa-trophy" aria-hidden="true"></i>
      <p> <strong> Plato del mes: </strong>Anticuchos</p>
      <img src="../../../../assets/img/anticuchos.jpg" alt="">
    </div>

      <div class="col-xl-12"> <p class="detalle"> DETALLES DEL RESTAURANTE</p>
        <div class="detalle_des">
        <span class="primero">Horario de atención </span><span class="det">Lun - Dom: 12:00 - 23:00</span>
        <hr>
        <span class="primero">Reservaciones </span><span class="det">923476786</span>
        <hr>
        <span class="primero">Tipo de cocina </span><span class="det">Brasas - Leña y Horno de barro, Carnes y Parrillas</span>
        <hr>
        <span class="primero">Plato del mes </span><span class="det">Anticuchos</span>
        <hr>
      </div>
      </div>
      <div class="col-md-12">
          <p class="platos">ESPECIALIDADES</p> 
      </div>
      <div class="col-md-4 img_platos">
        <img src="../../../../assets/img/n1.png" alt="">
      </div> 
       <div class="col-md-4 img_platos"> 
        <img src="../../../../assets/img/n2.jpg" alt="">
      </div>
      <div class="col-md-4 img_platos">
        <img src="../../../../assets/img/n3.jpg" alt="">
      </div>

      <div class="col-md-12">
          <p class="comentarios">COMENTARIOS</p> 
      </div>

  </div>
</div>

<router-outlet></router-outlet>
<br> <br>