.texto, .imagen, .logo{
    margin-top: 60px;
}
 
.texto{
    font-size: 24px;
    font-weight: bold;  
      color: #666;    
}

.descripcion{
    font-size: 17px;
    font-weight: 100;
    text-align: justify;
    margin-top: -10px; 
}

.logo img{
    height: 80px;
    width: 80px;
    border-radius: 60%;
}

.imagen{
    text-align: center;
}
.imagen p{
    color: gray;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: bold; 
}

.imagen i{ 
    color: #FFD700;
    font-size: 40px; 
}

.imagen img{
 height: 200px;
 width: 300px;
 margin-top: 2px;
 text-align: center;   
  border-radius: 8px;
  box-shadow: 3px 3px 3px silver;
}

.detalle, .platos, .comentarios {
     margin-top: 20px;
     border-bottom: 2px solid #9e9e9e;
     width: 100%;
     padding-bottom: 5px; 
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: bold;
}

.img_platos img{
    margin-top: 20px;
    height: 350px; 
    width: 105%;
    padding-left: 20px;
    box-shadow: 3px 3px 3px silver;
    padding: 0;
}
 
.detalle_des{ 
    padding: 8px 30px;  
} 

.primero{
    margin-left: 20px; 
    position: absolute;
    font-weight: 600;
}

.detalle_des .det{
    margin-left: 250px;   

}

.comentarios{
    margin-top: 40px;
}